<h1 mat-dialog-title>{{ usuario!=null ? 'Editar Usuario' : 'Nuevo Usuario' }}</h1>
<div mat-dialog-content>
    <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput [(ngModel)] = "emailUsu">        
    </mat-form-field> 
    <mat-form-field>
        <mat-label>Contraseña</mat-label>
        <input type="password" min="6" max="10" pattern="^(?=.*\d)(?=.*[\u0021-\u002b\u002e\u003c-\u0040])(?=.*[A-Z]{2})(?=.*[a-z]{2})" matInput [(ngModel)] = "passUsu">        
    </mat-form-field> 

    <mat-form-field>
        <mat-label>Nombre</mat-label>
        <input matInput [(ngModel)] = "nomUsu">       
    </mat-form-field> 

    <mat-form-field>
        <mat-label>Teléfono</mat-label>
        <input matInput [(ngModel)] = "telUsu">     
    </mat-form-field> 

    <mat-form-field>
        <mat-label>Dirección</mat-label>
        <input matInput [(ngModel)] = "dirUsu">   
    </mat-form-field> 

    <mat-form-field>
        <mat-label>Cédula</mat-label>
        <input matInput [(ngModel)] = "cedUsu">   
    </mat-form-field> 
</div>
<div mat-dialog-actions>
    <button mat-raised-button (click)="close();">Cancelar</button>
    <button mat-raised-button color="primary"
    (click)="addUsuario();">Guardar</button> 
</div>