<mat-drawer-container class="global-content">
  <mat-drawer #drawer mode="side">
    <button id="buttonInicio"> <a id="routerInicio" [routerLink]="['/home']">Inicio</a></button> <br><br>
    <button id="buttonUser"> <a id="routerUser" [routerLink]="['/user']">Usuario</a></button> <br><br>
    <button id="buttonCliente"><a id="routerCliente" [routerLink]="['/cliente']">Cliente</a></button><br><br>
    <button id="buttonProducto"><a id="routerProducto" [routerLink]="['/producto']">Producto</a></button><br><br>
    <button id="buttonVenta">  <a id="routerVenta" [routerLink]="['/venta']">Venta</a></button><br><br>
    <button id="buttonCerrar"> <a id="routerCerrar" (click)="logout(); drawer.toggle();" *ngIf="usuario">Cerrar Sesión</a></button><br><br>
  </mat-drawer>

  <div>
    <button id="buttonMenu" *ngIf="usuario" (click)="drawer.toggle();">Menú</button><br><br>
  </div>
  <router-outlet></router-outlet>
</mat-drawer-container>


